<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.01</real>
		<key>HiloTotal</key>
		<real>0.015</real>
		<key>HiloSolid</key>
		<real>0.0025</real>
		<key>Interphase</key>
		<real>0.0225</real>
		<key>ConductorCover</key>
		<real>0.0003</real>
		<key>BetweenDisks</key>
		<real>0.0028</real>
	</dict>
	<key>20</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.01</real>
		<key>HiloTotal</key>
		<real>0.015</real>
		<key>HiloSolid</key>
		<real>0.0025</real>
		<key>Interphase</key>
		<real>0.0225</real>
		<key>ConductorCover</key>
		<real>0.0003</real>
		<key>BetweenDisks</key>
		<real>0.0028</real>
	</dict>
	<key>30</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.01</real>
		<key>HiloTotal</key>
		<real>0.015</real>
		<key>HiloSolid</key>
		<real>0.0025</real>
		<key>Interphase</key>
		<real>0.0225</real>
		<key>ConductorCover</key>
		<real>0.0003</real>
		<key>BetweenDisks</key>
		<real>0.0028</real>
	</dict>
	<key>45</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.019</real>
		<key>HiloTotal</key>
		<real>0.015</real>
		<key>HiloSolid</key>
		<real>0.0025</real>
		<key>Interphase</key>
		<real>0.0225</real>
		<key>ConductorCover</key>
		<real>0.0003</real>
		<key>BetweenDisks</key>
		<real>0.0028</real>
	</dict>
	<key>50</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.019</real>
		<key>HiloTotal</key>
		<real>0.015</real>
		<key>HiloSolid</key>
		<real>0.0025</real>
		<key>Interphase</key>
		<real>0.0225</real>
		<key>ConductorCover</key>
		<real>0.0003</real>
		<key>BetweenDisks</key>
		<real>0.0028</real>
	</dict>
	<key>60</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.0218</real>
		<key>HiloTotal</key>
		<real>0.015</real>
		<key>HiloSolid</key>
		<real>0.0025</real>
		<key>Interphase</key>
		<real>0.0225</real>
		<key>ConductorCover</key>
		<real>0.0003</real>
		<key>BetweenDisks</key>
		<real>0.0028</real>
	</dict>
	<key>75</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.026</real>
		<key>HiloTotal</key>
		<real>0.015</real>
		<key>HiloSolid</key>
		<real>0.0025</real>
		<key>Interphase</key>
		<real>0.0225</real>
		<key>ConductorCover</key>
		<real>0.0003</real>
		<key>BetweenDisks</key>
		<real>0.0028</real>
	</dict>
	<key>95</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.034</real>
		<key>HiloTotal</key>
		<real>0.015</real>
		<key>HiloSolid</key>
		<real>0.004</real>
		<key>Interphase</key>
		<real>0.0225</real>
		<key>ConductorCover</key>
		<real>0.0003</real>
		<key>BetweenDisks</key>
		<real>0.0028</real>
	</dict>
	<key>110</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.042</real>
		<key>HiloTotal</key>
		<real>0.017</real>
		<key>HiloSolid</key>
		<real>0.004</real>
		<key>Interphase</key>
		<real>0.0255</real>
		<key>ConductorCover</key>
		<real>0.0003</real>
		<key>BetweenDisks</key>
		<real>0.0028</real>
	</dict>
	<key>125</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.05</real>
		<key>HiloTotal</key>
		<real>0.019</real>
		<key>HiloSolid</key>
		<real>0.004</real>
		<key>Interphase</key>
		<real>0.0285</real>
		<key>ConductorCover</key>
		<real>0.0003</real>
		<key>BetweenDisks</key>
		<real>0.0028</real>
	</dict>
	<key>150</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.061</real>
		<key>HiloTotal</key>
		<real>0.0223</real>
		<key>HiloSolid</key>
		<real>0.0051</real>
		<key>Interphase</key>
		<real>0.0335</real>
		<key>ConductorCover</key>
		<real>0.00042</real>
		<key>BetweenDisks</key>
		<real>0.0031</real>
	</dict>
	<key>170</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.07000000000000001</real>
		<key>HiloTotal</key>
		<real>0.025</real>
		<key>HiloSolid</key>
		<real>0.006</real>
		<key>Interphase</key>
		<real>0.0335</real>
		<key>ConductorCover</key>
		<real>0.00051</real>
		<key>BetweenDisks</key>
		<real>0.0034</real>
	</dict>
	<key>200</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.06625</real>
		<key>HiloTotal</key>
		<real>0.026875</real>
		<key>HiloSolid</key>
		<real>0.00675</real>
		<key>Interphase</key>
		<real>0.0403</real>
		<key>ConductorCover</key>
		<real>0.00065</real>
		<key>BetweenDisks</key>
		<real>0.004</real>
	</dict>
	<key>250</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.068</real>
		<key>HiloTotal</key>
		<real>0.03</real>
		<key>HiloSolid</key>
		<real>0.008</real>
		<key>Interphase</key>
		<real>0.045</real>
		<key>ConductorCover</key>
		<real>0.0009</real>
		<key>BetweenDisks</key>
		<real>0.0051</real>
	</dict>
	<key>300</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.07049999999999999</real>
		<key>HiloTotal</key>
		<real>0.035</real>
		<key>HiloSolid</key>
		<real>0.01</real>
		<key>Interphase</key>
		<real>0.06</real>
		<key>ConductorCover</key>
		<real>0.00114</real>
		<key>BetweenDisks</key>
		<real>0.0053</real>
	</dict>
	<key>350</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.08400000000000001</real>
		<key>HiloTotal</key>
		<real>0.04</real>
		<key>HiloSolid</key>
		<real>0.012</real>
		<key>Interphase</key>
		<real>0.06</real>
		<key>ConductorCover</key>
		<real>0.00127</real>
		<key>BetweenDisks</key>
		<real>0.0056</real>
	</dict>
	<key>450</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.111</real>
		<key>HiloTotal</key>
		<real>0.06</real>
		<key>HiloSolid</key>
		<real>0.015</real>
		<key>Interphase</key>
		<real>0.09</real>
		<key>ConductorCover</key>
		<real>0.00165</real>
		<key>BetweenDisks</key>
		<real>0.0056</real>
	</dict>
	<key>550</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.153</real>
		<key>HiloTotal</key>
		<real>0.0635</real>
		<key>HiloSolid</key>
		<real>0.02</real>
		<key>Interphase</key>
		<real>0.095</real>
		<key>ConductorCover</key>
		<real>0.0015</real>
		<key>BetweenDisks</key>
		<real>0.0051</real>
	</dict>
	<key>650</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.2</real>
		<key>HiloTotal</key>
		<real>0.08</real>
		<key>HiloSolid</key>
		<real>0.03</real>
		<key>Interphase</key>
		<real>0.12</real>
		<key>ConductorCover</key>
		<real>0.00254</real>
		<key>BetweenDisks</key>
		<real>0.0076</real>
	</dict>
	<key>750</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.25</real>
		<key>HiloTotal</key>
		<real>0.1</real>
		<key>HiloSolid</key>
		<real>0.04</real>
		<key>Interphase</key>
		<real>0.14</real>
		<key>ConductorCover</key>
		<real>0.0028</real>
		<key>BetweenDisks</key>
		<real>0.0076</real>
	</dict>
	<key>850</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.275</real>
		<key>HiloTotal</key>
		<real>0.11</real>
		<key>HiloSolid</key>
		<real>0.05</real>
		<key>Interphase</key>
		<real>0.15</real>
		<key>ConductorCover</key>
		<real>0.003</real>
		<key>BetweenDisks</key>
		<real>0.0076</real>
	</dict>
	<key>950</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.3</real>
		<key>HiloTotal</key>
		<real>0.125</real>
		<key>HiloSolid</key>
		<real>0.06</real>
		<key>Interphase</key>
		<real>0.16</real>
		<key>ConductorCover</key>
		<real>0.003</real>
		<key>BetweenDisks</key>
		<real>0.0076</real>
	</dict>
	<key>1050</key>
	<dict>
		<key>EdgeDistance</key>
		<real>0.3</real>
		<key>HiloTotal</key>
		<real>0.125</real>
		<key>HiloSolid</key>
		<real>0.06</real>
		<key>Interphase</key>
		<real>0.16</real>
		<key>ConductorCover</key>
		<real>0.003</real>
		<key>BetweenDisks</key>
		<real>0.0076</real>
	</dict>
</dict>
</plist>
