<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ZDKH</key>
	<dict>
		<key>Cost</key>
		<real>2.23</real>
		<key>LossCoefficients</key>
		<array>
			<real>4.3177</real>
			<real>-0.0013649</real>
			<real>1.6345e-07</real>
			<real>-8.503500000000001e-12</real>
			<real>1.6752e-16</real>
		</array>
	</dict>
	<key>M0H</key>
	<dict>
		<key>Cost</key>
		<real>1.95</real>
		<key>LossCoefficients</key>
		<array>
			<real>4.3177</real>
			<real>-0.0013649</real>
			<real>1.6345e-07</real>
			<real>-8.503500000000001e-12</real>
			<real>1.6752e-16</real>
		</array>
	</dict>
	<key>M3</key>
	<dict>
		<key>Cost</key>
		<real>1.95</real>
		<key>LossCoefficients</key>
		<array>
			<real>8.8858</real>
			<real>-0.0027761</real>
			<real>3.2628e-07</real>
			<real>-1.6843e-11</real>
			<real>3.285e-16</real>
		</array>
	</dict>
	<key>M3-T23</key>
	<dict>
		<key>Cost</key>
		<real>1.95</real>
		<key>LossCoefficients</key>
		<array>
			<real>8.8858</real>
			<real>-0.0027761</real>
			<real>3.2628e-07</real>
			<real>-1.6843e-11</real>
			<real>3.285e-16</real>
		</array>
	</dict>
	<key>M4</key>
	<dict>
		<key>Cost</key>
		<real>1.8</real>
		<key>LossCoefficients</key>
		<array>
			<real>5.3874</real>
			<real>-0.0017278</real>
			<real>2.0971e-07</real>
			<real>-1.1098e-11</real>
			<real>2.2297e-16</real>
		</array>
	</dict>
	<key>M5</key>
	<dict>
		<key>Cost</key>
		<real>1.7</real>
		<key>LossCoefficients</key>
		<array>
			<real>9.7661</real>
			<real>-0.0030833</real>
			<real>3.6515e-07</real>
			<real>-1.8898e-11</real>
			<real>3.6792e-16</real>
		</array>
	</dict>
</dict>
</plist>
