<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FAC262</key>
	<dict>
		<key>BladeDiameter</key>
		<integer>26</integer>
		<key>CageDiameter</key>
		<integer>30</integer>
		<key>NumBlades</key>
		<integer>2</integer>
		<key>850</key>
		<dict>
			<key>Watts</key>
			<integer>160</integer>
			<key>CFM</key>
			<integer>4030</integer>
			<key>Noise</key>
			<real>47.5</real>
		</dict>
		<key>1140</key>
		<dict>
			<key>Watts</key>
			<integer>230</integer>
			<key>CFM</key>
			<integer>5610</integer>
			<key>Noise</key>
			<real>56.5</real>
		</dict>
		<key>1750</key>
		<dict>
			<key>Watts</key>
			<integer>570</integer>
			<key>CFM</key>
			<integer>8500</integer>
			<key>Noise</key>
			<integer>70</integer>
		</dict>
	</dict>
	<key>FAC264</key>
	<dict>
		<key>BladeDiameter</key>
		<integer>26</integer>
		<key>CageDiameter</key>
		<integer>30</integer>
		<key>NumBlades</key>
		<integer>4</integer>
		<key>850</key>
		<dict>
			<key>Watts</key>
			<integer>200</integer>
			<key>CFM</key>
			<integer>5250</integer>
			<key>Noise</key>
			<real>50.9</real>
		</dict>
		<key>1140</key>
		<dict>
			<key>Watts</key>
			<integer>320</integer>
			<key>CFM</key>
			<integer>7400</integer>
			<key>Noise</key>
			<real>61.6</real>
		</dict>
	</dict>
	<key>FAC244</key>
	<dict>
		<key>BladeDiameter</key>
		<integer>24</integer>
		<key>CageDiameter</key>
		<integer>28</integer>
		<key>NumBlades</key>
		<integer>4</integer>
		<key>850</key>
		<dict>
			<key>Watts</key>
			<integer>176</integer>
			<key>CFM</key>
			<integer>3900</integer>
			<key>Noise</key>
			<real>50.2</real>
		</dict>
		<key>1140</key>
		<dict>
			<key>Watts</key>
			<integer>272</integer>
			<key>CFM</key>
			<integer>5200</integer>
			<key>Noise</key>
			<real>58.8</real>
		</dict>
		<key>1750</key>
		<dict>
			<key>Watts</key>
			<integer>700</integer>
			<key>CFM</key>
			<integer>7800</integer>
			<key>Noise</key>
			<real>71.40000000000001</real>
		</dict>
	</dict>
	<key>FAC164</key>
	<dict>
		<key>BladeDiameter</key>
		<integer>16</integer>
		<key>CageDiameter</key>
		<integer>20</integer>
		<key>NumBlades</key>
		<integer>4</integer>
		<key>850</key>
		<dict>
			<key>Watts</key>
			<integer>136</integer>
			<key>CFM</key>
			<integer>2200</integer>
			<key>Noise</key>
			<real>52.1</real>
		</dict>
		<key>1140</key>
		<dict>
			<key>Watts</key>
			<integer>176</integer>
			<key>CFM</key>
			<integer>2900</integer>
			<key>Noise</key>
			<real>58.9</real>
		</dict>
		<key>1750</key>
		<dict>
			<key>Watts</key>
			<integer>354</integer>
			<key>CFM</key>
			<integer>4500</integer>
			<key>Noise</key>
			<real>68.2</real>
		</dict>
	</dict>
</dict>
</plist>
